.section-contact {
  background-color: #8FAA75;
  color: white;
  padding: 0 260px 5vh 260px;

}

.contact {
  display: flex;
  justify-content: center;
}

.contact .formulaire {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 400px;
}

.contact .formulaire h3,
.contact .coordonnee h3 {
  font-size: 2.25rem;
}

.contact .formulaire input,
.contact .formulaire textarea {
  margin: 1vh 0;
  padding: 1vh;
}

.contact .coordonnee p {
  font-size: 1.5rem;
}

.contact .coordonnee p i {
  font-size: 2rem;
  margin-right: 20px;
}

@media (max-width: 420px) {

  .contact-title {
    padding: 3vh 0;
  }

  .section-contact {
    padding: 0;
  }

  .contact {
    flex-direction: column;
  }

  .contact .formulaire {
    align-items: center;
  }

  .contact .coordonnee {
    text-align: center;
  }
}