.header {
  background-image: url('../images/lake.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  display: flex;
  align-items: center;
}

.header .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  margin: 0 350px;
  padding: 7vh 5vw;
}

.header .overlay h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #8FAA75;
}

.header .overlay h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.25rem;
}

@media (max-width: 1025px) {
.header .overlay {
  margin: 0;
  padding: 0;
}

}